body{
    background-color:burlywood;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(5, 2, 2);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

td {
    text-align: center;
    background-color: aliceblue;
}

caption {
    padding: 10px;
}

thead {
    color: aliceblue;
    background-color:darkgoldenrod ;
}

.open {
    background-color:green;
    color: aliceblue;
}

.closed {
    background-color: red;
    color: aliceblue;
}

#activities {
    background-color:darkorange;
    color: black;
}